# Global settings
APPLICATION_DOMAIN_NAME=localhost
GRAFANA_URL=localhost

# InfluxDB
INFLUXDB_INIT_USERNAME=dust
INFLUXDB_INIT_PASSWORD=
INFLUXDB_INIT_ADMIN_TOKEN=
INFLUXDB_INIT_ORG=dust
INFLUXDB_INIT_BUCKET=dust

# Redis
REDIS_HOST=redis
REDIS_PORT=
REDIS_KEY=dust-ttn

INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_DB=dust-staging    #delete later

# The Things Network
MQTT_HOST=eu1.cloud.thethings.network
MQTT_PORT=
MQTT_PROTOCOL=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC=v3/+/devices/+/up

# WeatherAPI
WEATHER_API_KEY=
WEATHER_API_LOCATIONS=["Brugge", "Roeselare"]

# MongoDB
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGO_INITDB_DATABASE=dust