openapi: 3.1.0
info:
  version: 0.1.0
  title: dust.devbitapp.be
  termsOfService: "ToDo TOS"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    # email: contact@example.com
    url: 'https://dust.devbitapp.be/api'
  x-logo:
    url: 'https://dust-frontend.netlify.app/img/LogoFelix_1.a6b55502.png'
  description:
    $ref: ./info-description.md
tags:
  - name: Trees
    description: Tree routes
  - name: Devices
    description: Device routes
  - name: Sensors
    description: Sensor routes
  - name: ConversionModels
    description: ConversionModel routes
  - name: Users
    description: User routes
servers:
  - url: 'http://dust.devbit.be/api/v1'
  - url: 'https://dust.devbit.be/api/v1'
paths:
  '/trees':
    $ref: 'paths/trees.yaml'
  '/trees/{id}':
    $ref: 'paths/trees@{id}.yaml'
  '/devices':
    $ref: 'paths/devices.yaml'
  '/devices/{id}':
    $ref: 'paths/devices@{id}.yaml'
  '/sensors':
    $ref: 'paths/sensors.yaml'
  '/sensors/{id}':
    $ref: 'paths/sensors@{id}.yaml'
  '/conversionmodels':
    $ref: 'paths/conversionmodels.yaml'
  '/conversionmodels/{id}':
    $ref: 'paths/conversionmodels@{id}.yaml'
  '/users':
    $ref: 'paths/users.yaml'
  '/users/{id}':
    $ref: 'paths/users@{id}.yaml'
components:
  securitySchemes:
    jwt:
      description: Only Authenticated Users can perform this request. Authentication is only possible via JWT bearer token!
      in: header
      type: http
      scheme: bearer
      bearerFormat: JWT
    # main_auth:
    #   type: http
    #   description: Authenticating Users is essential to be able to visit certain routes and execute http requests
    #   in: header
    #   flows:
    #     implicit:
    #       authorizationUrl: "ToDoauth.com"
    #       scopes:
    #         'read:users': read users info
    #         'write:users': modify or remove users
    # api_key:
    #   type: apiKey
    #   in: header
    #   name: api_key
    # basic_auth:
    #   type: http
    #   scheme: basic
