openapi: 3.1.0
info:
  version: 0.1.0
  title: dust.devbit.be
  termsOfService: "ToDo TOS"
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    # email: contact@example.com
    url: 'https://dust.devbitapp.be/api'
  x-logo:
    url: 'https://dust-frontend.netlify.app/img/LogoFelix_1.a6b55502.png'
  description:
    $ref: ./info-description.md
tags:
  - name: Trees
    description: Public tree data
  - name: Sensors
    description: Public sensor data
servers:
  - url: 'http://dust.devbit.be/api/v1'
  - url: 'https://dust.devbit.be/api/v1'
paths:
  '/trees/{id}':
    $ref: 'paths/trees@{id}.yaml'
  '/sensors/{id}':
    $ref: 'paths/sensors@{id}.yaml'
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: "ToDoauth.com"
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
